<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

    <connectionStrings>
        <add name="FileDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|..\..\..\DatabaseSerializationTests\Database\TpaModelDatabase.mdf;Integrated Security=True;Connect Timeout=30;Context Connection=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>