<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="paths" type="System.Configuration.AppSettingsSection" />
    </configSections>
    <paths>
        <!-- <add key="./../../../DatabaseLogging/bin/Debug" /> -->
        <!-- <add key="./../../../DatabaseSerialization/bin/Debug" /> -->
        <add key="./../../../Logging/bin/Debug" />
        <add key="./../../../Serialization/bin/Debug" />
        <add key="./../../../CLI/bin/Debug" />
    </paths>
    
    <connectionStrings>
        <add name="FileDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|;Integrated Security=True;Connect Timeout=30;Context Connection=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>